*{
	padding: 0px;
	margin: 0px;

}
/*navbar styling start*/
.navbar{
	background-color: white;
	list-style-type: none;
	display:inline;
	align-items: center;
	margin: 0px;
	width: 100%;
	padding: 0;
	position: fixed;

}
.navbar ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;

}
.navbar ul img{
	width: 60px;
	position: left;
	margin: 0;
	padding: 0px;
}
.navbar ul li{
	width: 100px;
	margin: 5px;
	padding: 5px;
	list-style-type: none;

}
.navbar ul li a{
	display: inline-flex;
	text-decoration: none;
	color: black;
}
.active, .navbar ul li:hover{
	background-color: white;
	border-radius: 5px;
}
.navbar ul li:hover .sub-menu-2{
	display: block;
	position: absolute;
	background-color: white;
	margin-top: 10px;
	margin-left: -10px;


}
.navbar ul li:hover .sub-menu-2{
	display: block;
	position: absolute;
	background-color: white;
	margin-top: 10px;
	margin-left: -10px;
	/*width: 100%;*/

}
.navbar ul li :hover .sub-menu-2 ul li{
	width: 100%;
	padding: 10px;
	background-color: transparent;
	text-align: right;
	border-radius: 0px;
	text-decoration: none;


}
.navbar ul li:hover .sub-menu-2 ul li:last-child{
	border-bottom: none;
}
.navbar ul li:hover .sub-menu-2 ul li a:hover{

}
.sub-menu-2{
	display: none;
	width: 180%;
	padding: 20px;
	height: 70px;

}

.navbar {
	width: 100%;
}

#sub-menu-2-div1{
	padding:10px;
	margin-left: 20px;
}
#sub-menu-2-div1 i{
	padding:0px;
	color: limegreen;
}

#sub-menu-2-div2{
	padding: 10px;
	margin-left: 20px;
}
#sub-menu-2-div2 i{
	padding:0px;
	color: limegreen;
}

#sub-menu-2-div3{
	padding: 10px;
	margin-left: 20px;
}
#sub-menu-2-div3 i:{
	padding:0px;
	color: black;
}

#sub-menu-2-div4{
	padding: 10px;
	margin-left: 20px;
}
#sub-menu-2-div4 i{
	padding:0px;
	color: limegreen;
}

#sub-menu-2-div5{
	padding: 10px;
	margin-left: 20px;
	width: 80px;
}

#sub-menu-2-div5 span{
	background-color: blue;
	border-radius: 10px;
	width: 90px;
	height: 50px;
	font-size: 18px;
	text-align: center;

}
#sub-menu-2-div5 i{
	padding:0px;
	color: limegreen;
}




.Btn1{
	text-align: right;
	position: absolute;
	display: flex;
	justify-content: right;
	margin-left: 300px;
	background-color: white;
	width: 120px;
	padding: 12px;
	 border: none;
}
.Btn2{
	background-color:limegreen;
	border-radius:30px;
	display: flex;
	justify-content: center;
	margin-left:320px;
	width: 130px;
	height: 50px;
	/*text-align: center;*/
	padding:12px;
	padding-top: 20px;
	color: white;
	text-transform: initial;
	border: none;
	font-size: 18px;

}

}
.text{
	width: 100%;
	color: black;
	margin: 10px;
	position: absolute;
	text-align: left;
}


/*section-1 begins*/


#section-1{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 90vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background-color: whitesmoke;
}

#section-1-row{
	display: flex;
	color: transparent;
	

}

#section-1-div1{
	margin-left: 10px;
	margin-top:120px;
}

#section-1-div1 h1{
	font-size: 55px;
	color: black;
	margin-left: 55px;
}

#section-1-div1 #para1{
	color: black;
	padding-top: 15px;
	margin-left: 60px;
	font-size: 22px;
}

#section-1-div1 #para2{
	color: black;
	margin-left: 60px;
	padding-top: 15px;
	font-size: 22px;
}

#section-1-div1 button{
	margin-left: 60px;
	margin-top: 25px;
	width: 210px;
	height: 40px;
	background-color: limegreen;
	border: none;
	border-radius: 20px;
	font-weight: bold;

}

#section-1-div1 button a{
	text-decoration: none;
	color: white;

}

#section-1-div2-img1{
	width: 70%;
	height: 40%;
	margin-left:27%;
	margin-top: 15%;
}

#section-1-div2-img2{
	margin-left:62%;
	margin-bottom: -280%;
	margin-top: -270px;
}

/*section-2 begins*/

#section-2{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 105vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background: linear-gradient(rgb(4, 124, 28), rgb(140, 233, 28));

}

#section-2 #head-h1{
	color: white;
	font-size: 40px;
	text-align: center;

}

#section-2 .grid-container{
	display: grid;
	grid-template-columns: auto auto ;
	background-color: transparent;
	justify-content: space-evenly;
	grid-row-gap: 50%;
	margin-top: 6%;


	
}
.grid-item{
	text-align: center;
	color: white;
	padding-top: 10px;
	padding: 20px;
}

#section-2 .grid-container p{
	font-size: 20px;
}

#section-2 button{
	margin-left: 100%;
	margin-bottom: -180%;
	margin-top: -50%;
	width: 210px;
	height: 40px;
	background-color: white;
	border: none;
	border-radius: 20px;
	font-weight: bold;

}

#section-2 button a{
	text-decoration: none;
	color:limegreen;

}


/*section3 begins*/
#section-3{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 180vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background:white;
}

#section-3-div1{
	margin-top: 10px;
	text-align: center;
}

#section-3-div1 h1{
	font-size: 55px;

}
#section-3-div1 p{
	font-size: 25px;
	margin-top: 18px;
}
#section-3-div2{
	background: whitesmoke;
	display: flex;
	grid-template-columns: auto;
	justify-content: center;
	align-items: center;	
	grid-gap: 5px;
	margin-top: 18%;
}
#section-3-div2 img{
	width: 50%;

}
#section-3-div3{
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 8%;
	column-gap: -20px;
	grid-row-gap: 20px;
	
}
#section-3-div3 .grid-item{
	color: black;
}
#section-3-div4{
	text-align: center;
	color: black;
	margin-top: 10%;
	font-size: 20px;
}

#section-3-div4 a{
	text-decoration:2px  underline ;
	color: black;
}


/*section-4 begins*/
#section-4{

	background-color:green;
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 60vh;
	width: 100%;
	color: black;

}

#section-4 h1{
	text-align: center;
	margin-top: 10px;
	font-size: 40px;

}

#section-4 .flex-container{
	display: flex;
	background-color: white;
	margin-top: 30px;
}
#section-4 .flex-container > div{
	background-color: white;
	margin: 10px;
	padding: 20px;
	font-size:15px;
}

#section-4 .flex-container a p{
	text-align: center;
	color: limegreen;

}
#section-4 .flex-container a{
	text-decoration:none;

}

.circle {
	border-radius: 80px;
	width: 50px;
	height: 50px;
}

/*section-5 begins*/

#section-5{
	background-color:white;
	border: none;
	margin: 0px;
	margin-top:0px;
	padding: 5px;
	height: 60vh;
	width: 100%;
	color: black;
	display: flex;

}
#section-5-div1{
	width: 150%;
	height: 100%;
	margin-left: 20px;
	padding: 20px;
	margin-top: 10px;
}

#section-5-div1 h1{
	color: black;
	margin-top: 10px;
}

#section-5-div1 button{
	color: white;
	margin-top: 30px;
	background-color: limegreen;
	border: none;
	border-radius: 20px;
	width: 180px;
	height: 40px;
	text-align: center;
	font-size: 16px;
}
#section-5-div2{
	height: 100%;
	width: 70%;
	padding: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

#section-5-div2 p {
	padding-top: 20px;
	color: black;
	
}

#section-5-div2 p a{
	text-decoration: none;
	color: black;
	font-size: 17px;


}

#section-5-div2 p a:hover{
	color: limegreen;
}

#section-5-div3{
	height: 100%;
	width: 70%;
	padding: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

#section-5-div3 p {
	padding-top: 20px;
	color: black;
	
}

#section-5-div3 p a{
	text-decoration: none;
	color: black;
	font-size: 17px;


}

#section-5-div3 p a:hover{
	color: limegreen;
}

#section-5-div4{
	height: 100%;
	width: 70%;
	padding: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

#section-5-div4 p {
	padding-top: 20px;
	color: black;
	
}

#section-5-div4 p a{
	text-decoration: none;
	color: black;
	font-size: 17px;


}

#section-5-div4 p a:hover{
	color: limegreen;
}

/*section-6 begins*/
#section-6{

	/*height: 20vh;
	width: 100%;
	background-color:blue;
	margin-top: 0px;
	border-bottom: thick;
	border-color: black;*/
}

#section-6 >div{
	display: flex;
	margin-top: 0;
	padding: 0;
	background-color: white;
	height: 20vh;
	border-bottom: 10px whitesmoke;

	
}


#section-6-img img{
	width: 30%;
	height: 50%;
	margin-left: 30%;

	
}

#section-6-div1{
	margin-top: 20px;
	color: limegreen;
	text-align: center;
	margin-left: 15%;

}

#section-6-div1 a{
	color: black;
	text-decoration: none;
	padding: 12px;
}
#section-6-div1 a:hover{
	color: limegreen;
}

#section-6-div2{
	margin-top: 20px;
	color: limegreen;
	text-align: center;
	margin-left: 12%;
	
}
#section-6-div2 i{
	padding: 12px;
}


/*section-7 begins*/

#section-7{
	background-color:white;
	border: none;
	margin: 0px;
	margin-top:0px;
	padding: 5px;
	height: 171vh;
	width: 100%;
	color: black;
	


}
#section-7 #p1{
	margin-top: 40px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p2{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p3{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p4{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p5{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p6{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p7{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p8{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p9{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p10{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-7 #p10 a{
	color: limegreen;
	text-decoration: none;
}

#section-7-div2{
	display: inline-flex;
	background-color: black;
	border-radius: 20px;
	width: 30%;
	height:12%;
	color: white;
	padding: 0px;
	margin-top: 30px;
	/*top:0px;*/
	bottom: 20px;
	/*position: -webkit-sticky;*/
	position: fixed;
	margin-left: 69%;

}

#section-7-div3 img{
	width: 150%;
	height: 50%;
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 10px;
	margin-bottom: 100%;
	/*margin-right: 20px;*/
	
}

#section-7-div4 {
	/*margin-top:2px;*/
	padding: 2px;
	width: 400%;
	margin-left: 60px;
	/*margin-bottom: 20px;*/

}
#section-7-div4 h2{
	font-size: 20px;
	font-width: bold;
	margin-top: 10px;
	/*margin-bottom:-10px;*/
	color: white;
	
}

#section-7-div4 h3{
	font-size:12px;
	margin-bottom:10px;
	/*margin-top: -2px;*/
	color: white;
	width: 250%;


}

#section-7-div5 {
	margin-top: 20px;
	padding: 2px;
	width: 100%;
	margin-right: 10px;
	margin-left: 30px;
	

}

#section-7-div5 button{
	border-radius: 30px;
	width: 120px;
	height: 50px;
	background-color: limegreen;
	color: white;
	/*margin-top: 20px;*/
	/*margin-right: 40px;*/
	margin-bottom: 20px;

}
