*{
	padding: 0px;
	margin: 0px;

}
/*navbar styling start*/
.navbar{
	background-color: white;
	list-style-type: none;
	display:inline;
	align-items: center;
	margin: 0px;
	width: 100%;
	padding: 0;
	position: fixed;

}
.navbar ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;

}
.navbar ul img{
	width: 60px;
	position: left;
	margin: 0;
	padding: 0px;
}
.navbar ul li{
	width: 100px;
	margin: 5px;
	padding: 5px;
	list-style-type: none;

}
.navbar ul li a{
	display: inline-flex;
	text-decoration: none;
	color: black;
}
.active, .navbar ul li:hover{
	background-color: white;
	border-radius: 5px;
}
.navbar ul li:hover .sub-menu-2{
	display: block;
	position: absolute;
	background-color: white;
	margin-top: 10px;
	margin-left: -10px;


}
.navbar ul li:hover .sub-menu-2{
	display: block;
	position: absolute;
	background-color: white;
	margin-top: 10px;
	margin-left: -10px;
	/*width: 100%;*/

}
.navbar ul li :hover .sub-menu-2 ul li{
	width: 100%;
	padding: 10px;
	background-color: transparent;
	text-align: right;
	border-radius: 0px;
	text-decoration: none;


}
.navbar ul li:hover .sub-menu-2 ul li:last-child{
	border-bottom: none;
}
.navbar ul li:hover .sub-menu-2 ul li a:hover{

}
.sub-menu-2{
	display: none;
	width: 180%;
	padding: 20px;
	height: 70px;

}

.navbar {
	width: 100%;
}

#sub-menu-2-div1{
	padding:10px;
	margin-left: 20px;
}
#sub-menu-2-div1 i{
	padding:0px;
	color: limegreen;
}

#sub-menu-2-div2{
	padding: 10px;
	margin-left: 20px;
}
#sub-menu-2-div2 i{
	padding:0px;
	color: limegreen;
}

#sub-menu-2-div3{
	padding: 10px;
	margin-left: 20px;
}
#sub-menu-2-div3 i:{
	padding:0px;
	color: black;
}

#sub-menu-2-div4{
	padding: 10px;
	margin-left: 20px;
}
#sub-menu-2-div4 i{
	padding:0px;
	color: limegreen;
}

#sub-menu-2-div5{
	padding: 10px;
	margin-left: 20px;
	width: 80px;
}

#sub-menu-2-div5 span{
	background-color: blue;
	border-radius: 10px;
	width: 90px;
	height: 50px;
	font-size: 18px;
	text-align: center;

}
#sub-menu-2-div5 i{
	padding:0px;
	color: limegreen;
}




.Btn1{
	text-align: right;
	position: absolute;
	display: flex;
	justify-content: right;
	margin-left: 300px;
	background-color: white;
	width: 120px;
	padding: 12px;
	 border: none;
}
.Btn2{
	background-color:limegreen;
	border-radius:30px;
	display: flex;
	justify-content: center;
	margin-left:320px;
	width: 130px;
	height: 50px;
	/*text-align: center;*/
	padding:12px;
	padding-top: 20px;
	color: white;
	text-transform: initial;
	border: none;
	font-size: 18px;

}

}
.text{
	width: 100%;
	color: black;
	margin: 10px;
	position: absolute;
	text-align: left;
}

/*section-1 begins*/

#section-1{
	display: inline-flex;
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 90vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background-color: skyblue;
}

#section-1-row{
	display:flex;
	height: 100%;
	width: 100%;
}

#section-1-div1{
	padding: 20px;
	padding-bottom: 30px;
	margin-top: 5%;
	width: 100%;
	height: 100%;

}

#section-1-div1 h1{
	font-size: 50px;
	font-weight: bold;
}

#section-1-div1 p{
	padding-bottom:20px ;
	padding: 18px;
	font-size: 20px;
}

#section-1-div1 span i{
	margin-right: 10px;
	color: limegreen;
	font-weight: bold;
}

#section-1-div1 > button{
	background-color:limegreen;
	margin-top: 25px;
	border: none;
	width: 150px;
	height: 60px;
	border-radius: 25px;
	padding:12px;
	color: white;
	font-size: 20px;
	margin-left: 20px;
}

#section-1-div2 img{
	width: 120%;
	float: right;
	/*padding-bottom: 250px;*/
	height: 122%;
	margin-left: 350px;
	margin-bottom: 200%;
	margin-right: 12%;
}

/*section 2 begins*/
#section-2{
	height: 90vh;
	width: 100%;
	margin-left: 30px;
	padding: 0;
	background-color: lightblue;

}

#section-2 ul{
	display: inline-block;
	list-style-type: none;
	color: black;
}


#section-2 ul li{
	width: 100%;
	margin-top: 15px;
	padding-bottom: 15px;

}

/*#section-2 ul li a{
	text-decoration: none;
	color: black;
}

.active, #section-2 ul li:hover{
	background-color: transparent;
}

#section-2 .fa{
	margin-right:250px;
	width: 100px;
}

.sub-menu1-section2{
	display: none;
}

#section-2 ul li:hover .sub-menu1-section2: focus{
display: block;
position: absolute;
background: white;
margin-top: 10px;
}*/



/*section-3 begins*/
#section-3{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 130vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background-color: whitesmoke;
}
#section-3 >div{
	text-align: center;
	padding: 20px;
	font-size: 40px;
	margin-top: 40px;
}

#section-3-row{
	display:flex;
	padding: 0px;
	margin: 0px;
	text-align: center;
	margin-left: 120px;
	padding: 10px;
	margin-top: 30px;
	column-gap:2px;
}

#section-3-row img{
	width: 100%;
	height: 40%;
}

#section-3-col1{
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	background-color: white;
	height: 70vh;
	width: 120%;
	border: thick;


}

#section-3-row h2{
	margin-top: 30px;
	font-size: 30px;

}

#section-3-row p{
	margin-top: 30px;
	font-size: 18px;
	text-align: justify-all;
}


/*section4 begins*/

#section-4{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 160vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background-color: whitesmoke;
}

#section-4 h2{
	text-align: center;
	font-size: 50px;
}
#section-4-row{
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 20%;
}

#section-4-div1 img{
	width: 75%;
	float: left;
	/*padding-bottom: 250px;*/
	height: 70%;
	margin-left: 50px;
}
#section-4-div2{
	margin-top: 15%;
	margin-right:8%;
	width: 70%;

}

#section-4-div2 h1{
	font-size: 40px;
	margin-bottom: 15px;
}
#section-4-div2 p{
	font-size: 21px;
}
#section-4-div2 button{
	margin-top: 15px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color: black;
	border: none;
	color: white;
}
#section-4-div2 button a{
	text-decoration: none;
	color: white;
}

/*section5 begins*/

#section-5{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 100vh;
	width: 100%;
	padding-top: 10%;
	color: black;
	background-color: rgb(108, 45, 255);
	/*background-color:rgb(108, 51, 251);*/

}
#section-5-row{
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 5%;
}
#section-5-div1{
	margin-top: 2%;
	margin-left:9%;
	width: 70%;

}

#section-5-div1 h1{
	font-size: 40px;
	margin-bottom: 15px;
	color: white;
}
#section-5-div1 p{
	font-size: 21px;
	color: white;
}

#section-5-div1 #p2{
	margin-top: 30px;
	color: white;
}
#section-5-div1 button{
	margin-top: 15px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color: black;
	border: none;
	color: white;
}
#section-5-div1 button a{
	text-decoration: none;
	color: white;
}





#section-5-div2 img{
	width: 140%;
	float:right;
	/*padding-bottom: 250px;*/
	height: 90%;
	margin-right: 70px;
	margin-top: 1px;
	background-color: transparent;
}

/*section6 begins*/

#section-6{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 110vh;
	width: 100%;
	padding-top: 10%;
	color: white;
	background-color: black;
}

#section-6-row{
	display: flex;
	width: 100%;
	height: 100%;
	margin-top:2%;
}

#section-6-div1 img{
	width: 130%;
	float: left;
	/*padding-bottom: 250px;*/
	height: 70%;
	margin-left: 50px;
}
#section-6-div2{
	margin-top: 15%;
	margin-left:28%;
	width: 70%;

}

#section-6-div2 h1{
	font-size: 40px;
	margin-bottom: 15px;
}
#section-6-div2 p{
	font-size: 21px;
}
#section-6-div2 button{
	margin-top: 15px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color:white;
	border: none;
	color: black;
}
#section-6-div2 button a{
	text-decoration: none;
	color:black;
}

/*section7 begins*/
#section-7{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 100vh;
	width: 100%;
	padding-top: 15%;
	color: white;
	background-color:white;
}

#section-7-headers{
	text-align: center;
	margin-top: 3px;
	font-size: 40px;
	color: black;
}
#section-7-headers h5{
	font-size: 18px;
}

#wrapper2-section7{
	display: flex;
	margin-left: 40%;
	white-space: 10px;
	font-size: 22px;
	font-weight: bold;
	margin-top: 25px;
	
}

#wrapper2-section7 button {
	padding: 20px;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: thick;
}
#wrapper2-section7 button a{
	text-decoration: none;
	color: black;
}

#wrapper2-section7 span{
	font-size: 20px;

}
#Sustainable-new p{
	background-color: blue;
	margin-right: 40px;
	border-radius: 18px;
	width: 35px;
	height: 20px;
	font-size: 16px;
	padding: 10px;
}

#segment-title-wrapper-row{
	display: flex;
	background-color:transparent;



}
#segment-title-wrapper-col-1{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
#segment-title-wrapper-col-1 img{
	width: 90%;
	margin-left: 15px;
}



#segment-title-wrapper-col-2{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
#segment-title-wrapper-col-2 img{
	width: 90%;
	margin-left: 15px;
}


#segment-title-wrapper-col-3{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
#segment-title-wrapper-col-3 img{
	width: 90%;
	margin-left: 15px;
}

#segment-title-wrapper-row >div p{
	font-size: 24px;
	color: black;
	font-weight: bold;
	padding-bottom: 15px;
	padding-left: 5px;
}

#segment-title-wrapper-col-headimg{
	width: 35%;
	text-align: center;
}


/*row and col 2 of session 7*/

#segment-title-wrapper-row-2{
	display: none;
	background-color:transparent;
}

#segment-title-wrapper-col-4{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}

#segment-title-wrapper-col-4 img{
	width: 90%;
	margin-left: 15px;
}

#segment-title-wrapper-col-5{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
#segment-title-wrapper-col-5 img{
	width: 90%;
	margin-left: 15px;
}

#segment-title-wrapper-col-6{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
#segment-title-wrapper-col-6 img{
	width: 90%;
	margin-left: 15px;
}

#segment-title-wrapper-row-2 >div p{
	font-size: 24px;
	color: black;
	font-weight: bold;
	padding-bottom: 15px;
	padding-left: 5px;
}


#segment-title-wrapper-col-headimg{
	width: 35%;
	text-align: center;

}



/*#wrapper2-section7 .section7-title-wrapper{
	padding: 10px;
}
.section7-title-wrapper > span{
	text-align: center;
	font-size: 23px;
	margin-left: 100px;
}*/


/*section-8 begins*/
 #section-8{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 110vh;
	width: 100%;
	padding-top: 10%;
	color: white;
	background-color:skyblue;
}

#section-8-div1{
	text-align: center;
	color: black;
	padding: 20px;
}

#section-8-div1 h5{
	padding-bottom: 15px;
	font-size: 18px;
}
#section-8-div1 h2{
	font-size: 40px;
}
#section-8-div1 p{
	padding-top: 20px;
	font-size: 20px;
}

#section-8-div1 button{
	margin-top: 20px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color:black;
	border: none;
	color: white;
}

#section-8-div2 img{
	margin-top: 20%;
	
}

/*section9 beings*/

#section-9{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 120vh;
	width: 100%;
	padding-top:10%;
	color:black;
	background-color:whitesmoke;
}

#section-9-heading{
	text-align: center;
	margin-top: 6px;
}

#section-9-heading h2{
	font-size: 15px;
}

#section-9-heading > h1{
	font-size: 40px;
}

#secion-9-row{
	display: flex;
	background-color: transparent;
	margin-top: 20%;
}

#secion-9-row img{
	width: 180px;
	margin-left: 25%;
	padding-top: 10px;
}


#section-9-div1{
	width: 70%;
	background-color: white;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	text-align: justify-all;
	padding-left: 30px;
	height: 60vh;
}

#section-9-div1 p{
	padding-top:20px;
	font-size: 20px;
}

#section-9-div1 h1{
	padding-top: 40px;
}

#section-9-div1 h3{
	padding-top: 50px;
	text-align: right;
}


#section-9-div2{
	width: 70%;
	background-color: white;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	padding-left: 30px;
	text-align: justify-all;
}
#section-9-div2 p{
	padding-top:20px;
	font-size: 20px;
}

#section-9-div2 h1{
	padding-top: 40px;
}

#section-9-div2 h3{
	padding-top: 50px;
	text-align: right;
}

#section-9-div3{
	width: 70%;
	background-color: white;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
	padding-left: 30px;
	text-align: justify-all;
}
#section-9-div3 p{
	padding-top:20px;
	font-size: 20px;
}

#section-9-div3 h1{
	padding-top: 40px;
}

#section-9-div3 h3{
	padding-top: 50px;
	text-align: right;
}

/*section10 begins*/

#section-10{
	border: none;
	margin: 0px;
	margin-top: 0px;
	padding: 5px;
	height: 40vh;
	width: 100%;
	padding-top:5%;
	color:black;
	background-color:white;
}

#section-10-row{
	display: flex;
	background-color:transparent;
	padding: -3px;
}

#section-10-row > img{
	margin-top: 10px;
	padding-bottom: 10px;
}
#section-10-div1{
	width: 70%;
	background-color:whitesmoke;
	margin-right: 20px;
	margin-bottom: 50px;
	margin-top: 16px;
	margin-left: 50px;
	padding-left: 30px;
	text-align: justify-all;
	height: 40vh;
}

#section-10-div2{
	width: 70%;
	background-color: whitesmoke;
	margin-right: 20px;
	margin-bottom: 50px;
	margin-top: 16px;
	margin-left: 50px;
	padding-left: 30px;
	text-align: justify-all;
	height: 40vh;
}
#section-10-row h1{
	margin-top: 15px;
}

#section-10-row p{
	margin-top: 18px;
	padding-bottom: 5px;
	font-size: 20px;
}

#section-10-row button{
	margin-top: 30px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color:limegreen;
	border: none;
	color: white;
}

#section-10-row button a{
	text-decoration: none;
	color: white;
}

/*section 11 begins*/

#section-11{
	border: none;
	margin: 0px;
	margin-top: 18px;
	padding: 5px;
	height: 130vh;
	width: 100%;
	padding-top:5%;
	color:black;
	background-color:green;
}

#section-11 >div img{
	width: 50%;
	height: 35%;
	float: right;
	margin-top: 5%;
}

#section-11-div1{
	width: 100%;
}

#section-11 p{
	font-size: 48px;
	color: black;
	font-family: sans-serif;
	padding: 30px;
}

#section-11 button{
	margin-top: 20px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color:black;
	border: none;
	color: white;
	margin-left: 10px;
}

#section-11 button a{
	text-decoration: none;
	color: white;
}

/*section 12 begins*/

#section-12{
	background-color:rgb(255, 245, 245);
	border: none;
	margin: 0px;
	margin-top:0px;
	padding: 5px;
	height: 110vh;
	width: 100%;
	color: black;

}
#section-12-div1{
	padding: 5px;
}

#section-12-div1 h1{
	text-align: center;
	font-size: 40px;
	padding-top: 12px;
	font-family:serif;
}

#section-12-div1 p{
	text-align: center;
	font-size: 19px;
	margin-bottom: 20px;
	font-family:serif;
}

#section-12-row{
	display: flex;
	padding: 20px;
	background-color: transparent;
	margin-left: 120px;

}

#section-12-div2 > div{
	border-radius: 50px;
	background-color: skyblue;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size:20px;
	margin-left: 110px;
	margin-buttom:10px;
	margin-top: 0px;
	

}
#section-12-div2{
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 60px;
	background-color: white;
	height: 65%;
	width: 25%;
	border-radius: 10px;



}

#section-12-div2 h2{
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	font-family: serif;
} 

#section-12-div2 h5{
	text-align: center;
	margin-top: 2px;
	font-family: serif;
	color: limegreen;
	font-size: 15px;
}

#section-12-div2 p{
	font-size: 20px;
	text-align:center;
	padding: 2px;
	margin-top: 30px;
	font-family:serif;
}

#section-12-div2 button{
	background-color: limegreen;
	width: 250px;
	text-align: center;
	border: none;
	margin-top: 30px;
	border-radius: 20px;
	height: 40px;
	margin-left: 40px;
	color: white;
	font-weight: bold;
	font-size: 15px;

}
#section-12-div2 hr{
	margin-top: 25px;
	color: transparent;
	width: 100%;
}

#section-12-div2 p:last-child{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

#section-12-div4{
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 60px;
	background-color: white;
	height: 65%;
	width: 25%;
	border-radius: 10px;

}

#section-12-div4 h2{
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	font-family: serif;
} 

#section-12-div4 h5{
	text-align: center;
	margin-top: 2px;
	font-family: serif;
	color: limegreen;
	font-size: 15px;
}

#section-12-div4 p{
	font-size: 20px;
	text-align:center;
	padding: 2px;
	margin-top: 30px;
	font-family:serif;
}

#section-12-div4 button{
	background-color: limegreen;
	width: 250px;
	text-align: center;
	border: none;
	margin-top: 30px;
	border-radius: 20px;
	height: 40px;
	margin-left: 40px;
	color: white;
	font-weight: bold;
	font-size: 15px;

}

#section-12-div4 hr{
	margin-top: 25px;
	color: transparent;
	width: 100%;
}

#section-12-div4 p:last-child{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

/*section 13 begins*/
#section-13{
	background-color:white;
	border: none;
	margin: 0px;
	margin-top:0px;
	padding: 5px;
	height: 60vh;
	width: 100%;
	color: black;
	display: flex;

}
#section-13-div1{
	width: 150%;
	height: 100%;
	margin-left: 20px;
	padding: 20px;
	margin-top: 10px;
}

#section-13-div1 h1{
	color: black;
	margin-top: 10px;
}

#section-13-div1 button{
	color: white;
	margin-top: 30px;
	background-color: limegreen;
	border: none;
	border-radius: 20px;
	width: 180px;
	height: 40px;
	text-align: center;
	font-size: 16px;
}
#section-13-div2{
	height: 100%;
	width: 70%;
	padding: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

#section-13-div2 p {
	padding-top: 20px;
	color: black;
	
}

#section-13-div2 p a{
	text-decoration: none;
	color: black;
	font-size: 17px;


}

#section-13-div2 p a:hover{
	color: limegreen;
}

#section-13-div3{
	height: 100%;
	width: 70%;
	padding: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

#section-13-div3 p {
	padding-top: 20px;
	color: black;
	
}

#section-13-div3 p a{
	text-decoration: none;
	color: black;
	font-size: 17px;


}

#section-13-div3 p a:hover{
	color: limegreen;
}

#section-13-div4{
	height: 100%;
	width: 70%;
	padding: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

#section-13-div4 p {
	padding-top: 20px;
	color: black;
	
}

#section-13-div4 p a{
	text-decoration: none;
	color: black;
	font-size: 17px;


}

#section-13-div4 p a:hover{
	color: limegreen;
}


/*section-14 begins*/
#section-14{

	/*height: 20vh;
	width: 100%;
	background-color:blue;
	margin-top: 0px;
	border-bottom: thick;
	border-color: black;*/
}

#section-14 >div{
	display: flex;
	margin-top: 0;
	padding: 0;
	background-color: white;
	height: 20vh;
	margin-left: 20px;

	
}


#section-14-img img{
	width: 30%;
	height: 50%;
	margin-right: 50%;

	
}

#section-14-div1{
	margin-top: 20px;
	color: limegreen;
	text-align: center;
	margin-left: 50px;

}

#section-14-div1 a{
	color: black;
	text-decoration: none;
	padding: 12px;
}
#section-14-div1 a:hover{
	color: limegreen;
}

#section-14-div2{
	margin-top: 20px;
	color: limegreen;
	text-align: center;
	margin-left: 50px;
	
}
#section-14-div2 i{
	padding: 12px;
}

/*section 15 begins*/

#section-15{
	background-color:white;
	border: none;
	margin: 0px;
	margin-top:0px;
	padding: 5px;
	height: 171vh;
	width: 100%;
	color: black;
	


}
#section-15 #p1{
	margin-top: 40px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p2{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p3{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p4{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p5{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p6{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p7{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p8{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p9{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p10{
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
}

#section-15 #p10 a{
	color: limegreen;
	text-decoration: none;
}

#section-15-div2{
	display: inline-flex;
	background-color: black;
	border-radius: 20px;
	width: 30%;
	height:12%;
	color: white;
	padding: 0px;
	margin-top: 30px;
	/*top:0px;*/
	bottom: 20px;
	/*position: -webkit-sticky;*/
	position: fixed;
	margin-left: 69%;

}

#section-15-div3 img{
	width: 150%;
	height: 50%;
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 10px;
	margin-bottom: 100%;
	/*margin-right: 20px;*/
	
}

#section-15-div4 {
	/*margin-top:2px;*/
	padding: 2px;
	width: 400%;
	margin-left: 60px;
	/*margin-bottom: 20px;*/

}
#section-15-div4 h2{
	font-size: 20px;
	font-width: bold;
	margin-top: 10px;
	/*margin-bottom:-10px;*/
	color: white;
	
}

#section-15-div4 h3{
	font-size:12px;
	margin-bottom:10px;
	/*margin-top: -2px;*/
	color: white;
	width: 250%;


}

#section-15-div5 {
	margin-top: 20px;
	padding: 2px;
	width: 100%;
	margin-right: 10px;
	margin-left: 30px;
	

}

#section-1-div5 button{
	border-radius: 30px;
	width: 120px;
	height: 50px;
	background-color: limegreen;
	color: white;
	/*margin-top: 20px;*/
	/*margin-right: 40px;*/
	margin-bottom: 20px;

}
